@model WebUser

@using(var form = Html.BeginForm())
{
    <div class="container">
        <div>
    @Html.LabelFor(m => m.FirstName)
    @Html.TextBoxFor(m => m.FirstName)
    @Html.ValidationMessageFor(m => m.FirstName)

</div>

<div>
    @Html.LabelFor(m => m.LastName)  
    @Html.TextBoxFor(m => m.LastName)
    @Html.ValidationMessageFor(m => m.LastName)
</div>

<div>
    @Html.LabelFor(m => m.MailAddress)  
    @Html.TextBoxFor(m => m.MailAddress)
    @Html.ValidationMessageFor(m => m.MailAddress)
</div>
<input type="submit" value="Submit" />
    </div>

}

